.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin-top: 16px;
}

.container h2 {
    font-size: 2rem;
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
}

.container p{
    font-size: 2rem;
    animation: rodar 1.2s linear infinite;
}

@keyframes rodar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.container__projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

