header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
    margin-left: 10px;
    user-select: none;
}
header a {
    text-decoration: none;
    color: #fff;
}
header li {
    margin: 0 20px;
    cursor: pointer;
    align-items: center;
    display: inline-block;
}
header img{
    width: 20px;
    position: relative;
    top: 3px;
    left: -6px;
}

.header__Menu{
    display: block;
}
.linkDestacado{
    text-decoration: underline;
}
@media screen and (max-width: 780px) {
    .header__Menu ul{
        position: absolute;
        right: 10px;
        background-color: rgb(0, 0, 0);
        width: 50vw;
        display: flex;
        flex-direction: column;
        display: none;
    }
    header li {
        padding: 20px;
        margin: 0;
        width: 100%;
        position: relative;
        left: -40px;
    }
}