.container {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.conhecimentos_h2 {
    font-size: 2rem;
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
}
@media screen and (max-width: 950px){
    .conhecimentos_h2{
        margin: 26px 10px;
    }
}
.container__conhecimentos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* 
@media screen and (max-width: 830px) {
    .container{
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .container__conhecimentos{
        flex-direction: column;
   }
} */

@media screen and (max-width: 750px){
    .container{
        width: 100%;
    }
    .container__conhecimentos{
        width: 100%;
    }
}